@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inter";
  src: url(../../public/fonts/inter.woff2);
}

@font-face {
  font-family: "IranSansX";
  src: url(../../public/fonts/iranSansX-bold.woff2);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "IranSansX";
  src: url(../../public/fonts/iranSansX-bold.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IranSansX";
  src: url(../../public/fonts/iranSansX-bold.woff2);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "IranSansX";
  src: url(../../public/fonts/iranSansX-light.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IranSansX";
  src: url(../../public/fonts/iranSansX-light.woff2);
  font-weight: 300;
  font-style: normal;
}

.font-inter {
  font-family: "inter";
}

.font-iransans {
  font-family: "IranSansX";
}
